body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-family:'Sacramento' ,cursive;
  font-size: 5.625rem;
  margin:50px auto 0 auto;


}

h2{
  color: #66BFBF;
font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
    padding-bottom: 10px;
}

  h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
  }
  a {
    color: #11999E;
  }
  .foo{
    font-weight: normal;
    line-height: 2;
  }
  .skill-row{
    width: 50%;
 margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;


  }

  hr{

    border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 5px;
/*  height: 0px;*/
    width: 5%;
    margin: 100px auto;

  }
.abc{
  padding-bottom:30px;
}

.top-container
{

background-color: #E4F9F5;
position: relative;
padding-top:100px;

}
.middle-container{
margin:100px 0;

}

.bottom-container{
background-color: #66bfbf;
padding:50px 0 20px 0;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.cpyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
.pro{
  text-decoration: underline;
}
.low{
  margin: 40px auto 60px auto;
}
.top-cloud{
    position: absolute;
    top:40px;
    right:300px;
}
  .bottom-cloud{
    position: absolute;
    bottom:300px;
    left:250px;
  }

  .app{
    width: 25%;
    float: left;
    margin-right:30px;
    /*  border-radius: 100%;
  margin: 100px auto 100px auto;*/
  }

.web{
 width:25%;
 float: right;
 margin-left: 30px;
/*  margin: 100px auto 100px auto;*/
}

p{
  line-height: 2;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6 !important;
  font-size: 14px;
text-shadow: 1px 1px 0 #7CACDE;
box-shadow: 1px 1px 1px #BEE2F9;
padding: 10px 25px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
border: 1px solid #3866A3;
background: #63B8EE;
background: linear-gradient(top,  #11CDD4,  #11999E);
background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
color: #14396A !important;
background: #468CCF;
background: linear-gradient(top,  #30E3CB,  #2BC4AD);
background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
/*------------------------use of clear---------------------*/
/*.di{
  clear: left;
}

.si{
  clear: right;
}*?
/*  background-color:red;
  width: 100px;
  height:100px;
   position: absolute;
   top: 200px;
   left: 200px;

  display:inline-block;
  position: relative;
  left: 200px;*/
/*border: solid 10px;
padding: 20px;*/


/*.blue{
    background-color:blue;
   width:100px;
   height: 100px;
   position: absolute;
   left: 100px;
   top: 100px;
    /* display:inline-block;
     position: relative;
     right: 100px;*/
/*border: solid 20px;
margin-left: 260px;*/




/*.yellow{
    background-color:gold;
    width: 100px;
    height: 100px;
    display:inline-block;
    position: relative;
    right: 100px;*/
  /*  border:solid 10px;
    margin-left: 500px;

}*/
